<div class="col-md-9 center-block">
  <h1 class="page-header">About</h1>
  <h2>Introduction</h2>
  <p>
    TVBGame is a game to help players extend their knowledge on drama series produced by TVB-one of the largest commercial Chinese programme producers in the world.
    There is only singleplayer because I don't have enough time to make it multiplayer.
    <br>
    The game database consists of multple choices questions. There will be different types of questions such as matching audio, picture and text, etc.
  </p>

  <h2>Technology</h2>
  <p>
    It's created using <a href="https://angularjs.org/">AngularJS</a>.
  </p>
</div>

