<div id="carousel">	
    <div class="container">
        <div class="row">
	        <div class="col-md-12">
	            <div id="owl-carousel" class="owl-carousel">
	                <div class="item"><img src="img/ghetto.jpg" alt=""></div>
                  <div class="item"><img src="img/oncall36.jpg" alt=""></div>
	                <div class="item"><img src="img/growing.jpg" alt=""></div>
	                <div class="item"><img src="img/noregrets.jpg" alt=""></div>
	                <div class="item"><img src="img/omission.jpg" alt=""></div>	                
	                <div class="item"><img src="img/othertruth.jpg" alt=""></div>
                  <div class="item"><img src="img/inbound.jpg" alt=""></div>
	                <div class="item"><img src="img/secretoflove.jpg" alt=""></div>
                  <div class="item"><img src="img/lady.jpg" alt=""></div>
	            </div>	              
	        </div>
        </div>
    </div>
 </div>

<div class="container">  	
  	<div id="start-jumbo" class="jumbotron center-block" style="text-align: center;">
  		<h1>Are you ready?!</h1>
    	<p>No sign up or turorial needed! For questions and suggestions click on lightbulb in bottom right.</p>      
    	<p><a href='#/play'class="btn btn-success btn-lg" value="Click to begin" >Click to begin</a></p>    		    	
  	</div>
</div>
<script>
    $(document).ready(function() {
      $("#owl-carousel").owlCarousel({
        autoPlay: 3000,
        items : 3,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });
    });
</script>