extends layout

block content
    //h1= title
    //p Welcome to our admin

    // QUESTION LIST
    h2 TVB Admin
    #questionList
        table(class='table table-bordered')
            thead
                th Question
                th Answers
                th Choices
            tbody
    // /QUESTION LIST